@page
@model moneyprogo.Areas.Dashboard.Pages.Index1Model
@{
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Basic Form Inputs card start -->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="sub-title">Add Employee</h5>

                            </div>
                            <div class="card-block">
                                <h4 class="sub-title">Add Employee</h4>
                                <form>
                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label">Simple Input</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control">
                                        </div>

                                        <label class="col-sm-1 col-form-label">Placeholder</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control"
                                                   placeholder="Type your title in Placeholder">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign up now</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

