@page
@model VijayLaxmi.Areas.Admin.Pages.GeneratedSalary.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ManualSalaries</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ManualSalaries.id" />
            <div class="form-group">
                <label asp-for="ManualSalaries.Empcode" class="control-label"></label>
                <input asp-for="ManualSalaries.Empcode" class="form-control" />
                <span asp-validation-for="ManualSalaries.Empcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManualSalaries.AAdharno" class="control-label"></label>
                <input asp-for="ManualSalaries.AAdharno" class="form-control" />
                <span asp-validation-for="ManualSalaries.AAdharno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManualSalaries.TotalWorkingHours" class="control-label"></label>
                <input asp-for="ManualSalaries.TotalWorkingHours" class="form-control" />
                <span asp-validation-for="ManualSalaries.TotalWorkingHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManualSalaries.TotalAttendance" class="control-label"></label>
                <input asp-for="ManualSalaries.TotalAttendance" class="form-control" />
                <span asp-validation-for="ManualSalaries.TotalAttendance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManualSalaries.MonthlySalary" class="control-label"></label>
                <input asp-for="ManualSalaries.MonthlySalary" class="form-control" />
                <span asp-validation-for="ManualSalaries.MonthlySalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManualSalaries.ManualSalary" class="control-label"></label>
                <input asp-for="ManualSalaries.ManualSalary" class="form-control" />
                <span asp-validation-for="ManualSalaries.ManualSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManualSalaries.Month" class="control-label"></label>
                <input asp-for="ManualSalaries.Month" class="form-control" />
                <span asp-validation-for="ManualSalaries.Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManualSalaries.Year" class="control-label"></label>
                <input asp-for="ManualSalaries.Year" class="form-control" />
                <span asp-validation-for="ManualSalaries.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManualSalaries.Siteid" class="control-label"></label>
                <input asp-for="ManualSalaries.Siteid" class="form-control" />
                <span asp-validation-for="ManualSalaries.Siteid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
