@page
@model VijayLaxmi.Areas.Admin.Pages.HR.LoanAdvance.CreateModel

@{
    ViewData["Title"] = "Create";
}
<h4>Add Loan or Advance</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Loan_Advance.AAdharNo" class="control-label"></label>
                <select asp-for="Loan_Advance.AAdharNo" id="Employeeid" asp-items="Model.EmployeeList" class="form-control" required>
                    <option value="">Select Employee</option>
                </select>
                <span asp-validation-for="Loan_Advance.AAdharNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Max Allowed Loan / Advance</label>
                <input type="text" class="form-control" id="Maxallowed" name="Maxallowed" />
                <span asp-validation-for="Loan_Advance.AAdharNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan_Advance.Type" class="control-label"></label>
                <select asp-for="Loan_Advance.Type" class="form-control" required>
                    <option>Loan</option>
                    <option>Advance</option>
                </select>
                <span asp-validation-for="Loan_Advance.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan_Advance.Amount" class="control-label"></label>
                <input asp-for="Loan_Advance.Amount" class="form-control" required />
                <span asp-validation-for="Loan_Advance.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date</label>
                <input asp-for="Loan_Advance.Loan_AdvanceDate" type="date" class="form-control" required />
                <span asp-validation-for="Loan_Advance.Loan_AdvanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan_Advance.ApplicationDocument" class="control-label"></label>
                <input type="file" name="ApplicationDocument" class="form-control" />
                <span asp-validation-for="Loan_Advance.ApplicationDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan_Advance.SignedDocument" class="control-label"></label>
                <input type="file" name="SignedDocument" class="form-control" />
                <span asp-validation-for="Loan_Advance.SignedDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Narration</label>
                <input asp-for="Loan_Advance.Narration" type="text" class="form-control" required />
                <span asp-validation-for="Loan_Advance.Loan_AdvanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Emi Amount</label>
                <input asp-for="Loan_Advance.EmiAmount" type="text" class="form-control" required />
                <span asp-validation-for="Loan_Advance.EmiAmount" class="text-danger"></span>
            </div> <div class="form-group">
                <label class="control-label">Emi Start Date</label>
                <input asp-for="Loan_Advance.EmiDate" type="date" class="form-control" required />
                <span asp-validation-for="Loan_Advance.EmiDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#Employeeid").select2();
        });
    </script>
    <script type="text/javascript">

        $(document).on('change', '#Employeeid', function () {
            var text = $("#txtCustomer").val();
            $.ajax({
                type: "GET",
                url: "/api/Empsalary",
                data: { id: $("#Employeeid").val() },
                contentType: "application/json",
                dataType: "text",
                async: true,
                success: function (response) {
                    console.log(response);
                    $("#Maxallowed").val(response);
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });



    </script>
}

