@page
@model VijayLaxmi.Areas.Admin.Pages.HR.LoanAdvance.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Loan/Advance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Loan_Advance.Id" />
            <div class="form-group">
                <label asp-for="Loan_Advance.AAdharNo" class="control-label">AAdhar No</label>
                <input asp-for="Loan_Advance.AAdharNo" class="form-control" readonly />
                <span asp-validation-for="Loan_Advance.AAdharNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan_Advance.Type" class="control-label"></label>
                <select asp-for="Loan_Advance.Type" class="form-control" >
                    <option>Loan</option>
                    <option>Advance</option>
                </select>
                <span asp-validation-for="Loan_Advance.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan_Advance.Amount" class="control-label"></label>
                <input asp-for="Loan_Advance.Amount" class="form-control" />
                <span asp-validation-for="Loan_Advance.Amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Loan_Advance.Loan_AdvanceDate" class="control-label">Loan/AdvanceDate</label>
                <input asp-for="Loan_Advance.Loan_AdvanceDate" class="form-control" />
                <span asp-validation-for="Loan_Advance.Loan_AdvanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan_Advance.SignedDocument" class="control-label">Signed Document</label>
                <input asp-for="Loan_Advance.SignedDocument" name="SignedDocument" type="file" class="form-control" />
                <span asp-validation-for="Loan_Advance.SignedDocument" class="text-danger"></span>
                <input type="hidden" asp-for="Loan_Advance.SignedDocument" name="SignedDocumentfilename" />
                <a href="~/LoanadvanceDocument/@Model.Loan_Advance.SignedDocument" style="color:red; font-weight:bold;" target="_blank">View</a>
            </div>
            <div class="form-group">
                <label asp-for="Loan_Advance.ApplicationDocument" class="control-label">Application Document</label>
                <input asp-for="Loan_Advance.ApplicationDocument" name="ApplicationDocument" type="file" class="form-control" />
                <span asp-validation-for="Loan_Advance.ApplicationDocument" class="text-danger"></span>
                <input type="hidden" asp-for="Loan_Advance.ApplicationDocument" name="ApplicationDocumentfilename" />
                <a href="~/LoanadvanceDocument/@Model.Loan_Advance.ApplicationDocument" style="color:red; font-weight:bold;" target="_blank">View</a>
            </div>
            <div class="form-group">
                <label class="control-label">Narration</label>
                <input asp-for="Loan_Advance.Narration" type="text" class="form-control" required />
                <span asp-validation-for="Loan_Advance.Loan_AdvanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Status</label>
                <select asp-for="Loan_Advance.Status" type="text" class="form-control">
                    <option value="True">Active</option>
                    <option value="False">InActive</option>
                </select>

                <span asp-validation-for="Loan_Advance.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
