@page
@model VijayLaxmi.Pages.appointmentModel
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title></title>
    <style>
        .footer {
            position: fixed;
            bottom: 8px;
            left: 8px;
            right: 8px;
        }
    </style>
    <!-- CSS only -->

</head>
<body onload="self.print();">
    <table id="main_table" cellpadding="3" cellspacing="3">

        <tr>
            <td colspan="10" class="text-center">
                <img src="~/assets/letterhead/header.png" class="img-fluid" />
            </td>
        </tr>
        <tr><td align="center" colspan="9"><strong> Appointment Letter</strong></td></tr>

        <tr>
            <td colspan="10">
                <table width="100%">
                    <tr><td><strong>PUNEET SAPRA </strong></td><td><strong> Date:</strong> 20.09.2018</td></tr>
                    <tr>
                        <td>
                            C-5 Budhvihar Phase 1
                            Delhi -110086

                        </td>
                    </tr>
                    <tr><td></td></tr>
                    <tr><td>Dear Puneet Sapra,</td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify;">
                We are pleased to offer you the full-time position of Executive at Vijay Laxmi Mansol Pvt. Ltd. with a start date of 1st October, 2018, contingent upon a background check. Mr. Raju Yadav at Mother Dairy F&V (P) Ltd Icecream Staff will be your primary contact and supervisor on site. It is in our opinion that your abilities and experience will be the perfect fit for our company.<br /><br />
                In this role, you will provide timely, reliable, and responsive support that generates a high level of employee satisfaction and inspires confidence through effective communication, expert knowledge, and efficient escalation to resolve issues.<br /><br />
                The starting salary for this position is Rs.15416/- (Gross) to be paid on a monthly basis by direct deposit in your provided account. <br /><br />
                As an employee of <strong> Vijay Laxmi Mansol Pvt. Ltd.,</strong> you are also eligible for our benefits program, which includes medical insurance and employee provident fund. The Company reserves the right to relieve you from your services in case of business slowdown or if the company decides to downsize work force due to unforeseen circumstances. By signing and returning this letter you will confirm your acceptance of the offer. We look forward to having you on our team!
                <br /> <br />  We look forward to your association with us.
                <br />    Yours truly,
            </td>
        </tr>
        <tr><td></td></tr>
        <tr><td valign="top"><br /> Manager HR</td></tr>
        <tr><td> <hr /></td></tr>
        <tr>
            <td>
                DECLARATION BY THE EMPLOYEE <br /><br />
                I accept the offer and terms and conditions mentioned in the aforesaid letter.<br /><br />

                Signature of the Employee with date <br /><br />
                <strong style="color:red;">  Mr. Puneet Sapra</strong>
            </td>
        </tr>
        <tr id="footer" class="footer" align="center">
            <td style="color:forestgreen;" align="center">
                204-206, Plot No-3, Aggarwal Plaza, Sector-5, Rohini, Delhi-110085 <br />
                Tel: 011-27041816 Mob:9312922100, 9540622100, 9560034396 <br />Email:Office@@vlmpl.com, www.vlmpl.com

            </td>
        </tr>
    </table>
</body>

</html>
